
* {
  margin: 0%;
  padding: 0%;
}

body {
  width: 100vw;
  height: 100vh;
}

.page {
  background: #121214;
  position: absolute;
  width: 720px;
  height: 100%;
}

#vector {
  position: absolute;
  width: 389px;
  height: 94px;
  left: 30px;
  top: 50px;
}

#foto {
  height: 100%;
  
}


#email{
position: relative;
left: 3rem;
top: 30rem;
color: #A8A8A8;
Font-family: 'Spartan';
Font-size: 18px;
fill:solid; 

}

#b{
  position: absolute;
  background-image: url("image/button.jpg");
height: 48px;
width: 48px;
left: 41.6rem;
top: 502px;
border-radius: 3px;

    
    

}

 #conta input{
   position: relative;
    border-radius: 2px;
    padding: 14px;
    width: 45.2em;
    top: 30rem;
    left: 2rem;

  }

#foto img {
  width: 100%;
  height: 100%;
  object-position: right top;
  object-fit: cover;

}

#title {
  color: #04d361;
  position: absolute;
  width: 566px;
  height: 30.44px;
  left: 36px;
  top: 290px;
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: bold;
}

#SubTitle {
  color: #e1e1e6;
  position: absolute;
  width: 517px;
  height: 16px;
  left: 36px;
  top: 335px;
  font-family: "Spartan", "Work Sans";
  font-size: 14px;
  font-weight: bold;
}

#text {
  color: #e1e1e6;
  position: absolute;
  width: 647px;
  height: 38px;
  left: 36px;
  top: 372px;
  font-family: "Spartan", "Work Sans";
  font-size: 14px;
}



#link {
  color: #8257e5;
  position: absolute;
  width: 167px;
  height: 19px;
  left: 36px;
  top: 880px;
  font-family: "Work Sans";
  font-weight: bold;
}